asgiref==3.7.2
bleach==6.1.0
Django==5.0.1
django-summernote==0.8.20.0
djangorestframework==3.14.0
gunicorn==21.2.0
packaging==23.2
psycopg==3.1.17
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
webencodings==0.5.1
