.Hamburger {
  width: 2rem;
  height: 2rem;
  flex-flow: column nowrap;
  z-index: 10;
  /* display: none; */
}

.Hamburger .burger {
  width: 3rem;
  margin: 0.25rem;
  height: 0.25rem;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
}
