.background-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("/lake.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.welcome {
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, 3px 3px 0 #000000,
    3px 3px 0 #000;
  color: #41b6e5;
}

.margin {
  color: #e4002b;
}

.intro {
  display: flex;
  justify-content: center;
  position: relative;
}

.tag {
  position: absolute;
  margin-top: 5rem;
  top: 50%;
  color: white;
  font-size: 25px;
  text-shadow: 1px -1px 0 #050505, 1px 1px 0 #000000, 2px 2px 0 #0f0f0f,
    2px 2px 0 #000000;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
.logo-pulse {
  animation: pulse 2s infinite;
}

@media (max-width: 769px) {
  .intro {
    margin-top: 2rem;
  }
  div img {
    width: 300px;
    margin-top: 3rem;
  }
}
